[Desktop Entry]
Type=Application
Version=1.0
Name=Matrix Preview
Comment=Data file previewer for ma7 files
Exec=matrix-preview %f
Icon=matr1x-matrix-preview
Terminal=false
Categories=Science
