[Desktop Entry]
Type=Application
Version=1.0
Name=Matrix GUI
Comment=Measurement control graphical user interface
Exec=matrix_gui
Icon=matr1x-matrix_gui
Terminal=true
Categories=Science
