[Desktop Entry]
Type=Application
Version=1.0
Name=Matrix Script
Comment=script based measurement control interface
Exec=matrix-script
Icon=matr1x-matrix-script
Terminal=false
Categories=Science
