[Desktop Entry]
Type=Application
Version=1.0
Name=Matrix Preview
Comment=Data file previewer for ma7 files
Exec=matrix_preview %f
Icon=matr1x-matrix_preview
Terminal=false
Categories=Science
