[Desktop Entry]
Type=Application
Version=1.0
Name=Matrix GUI
Comment=Measurement control graphical user interface
Exec=matrix-gui
Icon=matr1x-matrix-gui
Terminal=false
Categories=Science
