[Desktop Entry]
Type=Application
Version=1.0
Name=Sweep Generator
Comment=Generator for Matrix measurement input files
Exec=sweep-generator %f
Icon=matr1x-sweep-generator
Terminal=false
Categories=Science
